.topo
{
	width: 100%; 
	background-color: #EBEBEB;
	border-color: gray;
	border-style: groove;
	text-align: center;	
}

body  
{	
	color: black;
	background-color: white;
	border-color: gray;
	border-style: groove;
	text-align: left;
}

h2
{
	color: gray;
}

a:link 
{
	color: #4B4B4B;
	
}
a:visited 
{
	color: #C9C9C9;
}

/*Menu*/
a.linkMenu:link 
{
	color: #708090;
	text-decoration: none;
}
a.linkMenu:visited 
{
	color: #708090;
	text-decoration: none;
}

.menu {
	float: right; 
	background-color: #EBEBEB;
	text-align: left;
	border-color: gray;
	border-style: groove;
	padding: 1%;
}

.container 
{ 

} 
.twoColHybRtHdr #header { 
	background: #DDDDDD; 
	padding: 0 10px;
} 
.twoColHybRtHdr #header h1 {
	margin: 0; 
	padding: 10px 0;
}

.twoColHybRtHdr #sidebar1 h3, .twoColHybRtHdr #sidebar1 p {
	margin-left: 10px;
	margin-right: 10px;
}
.mainContent 
{
  mar
} 
.twoColHybRtHr #footer { 
	padding: 0 10px; 
	background:#DDDDDD;
} 
.twoColHybRtHdr #footer p {
	margin: 0;
	padding: 10px 0;
}
.fltrt { 
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

--> 
</style><!--[if IE]>
<style type="text/css"> 
.twoColHybRtHdr #sidebar1 { padding-top: 30px; }
.twoColHybRtHdr #mainContent { zoom: 1; padding-top: 15px; }
</style>
<![endif]-->
